<c-card>
    <div class="card-header">
        <c-row>
            <c-col [md]="9">
                <h4>Marksheet Viewer</h4>
            </c-col>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="showpdfbox">
                <button cButton color="primary" class="me-md-2 btn btn-success"
                        (click)="incrementZoom(0.1)"><b>Zoom-In</b></button>
                <button cButton class="btn btn-warning" (click)="incrementZoom(-0.1)"><b>Zoom-Out</b></button>
                <button cButton class="btn btn-danger" (click)="ClosePdf()"><b>Close PDF</b></button>
            </div>
            <!--      <div class="col-md-3" *ngIf="showpdfbox">-->

            <!--        <button class="btn btn-success" (click)="incrementZoom(0.1)">-->
            <!--          <b>Zoom-In</b></button-->
            <!--        >&nbsp;&nbsp;-->

            <!--        <button class="btn btn-warning" (click)="incrementZoom(-0.1)">-->
            <!--          <b>Zoom-Out</b></button-->
            <!--        >&nbsp;&nbsp;-->

            <!--        <button class="btn btn-danger" (click)="ClosePdf()">-->
            <!--          <b>Close PDF</b></button-->
            <!--        >&nbsp;&nbsp;-->
            <!--      </div>-->
        </c-row>
    </div>
    <div class="card-body">
        <c-col [md]="9" *ngIf="showGridbox">
            <ag-grid-angular
                    style="width: 100%; height: 300px"
                    class="ag-theme-alpine"
                    [rowData]="rowData"
                    [gridOptions]="gridOptions"
                    [columnDefs]="columnData"
                    [rowSelection]="rowSelection"
                    (gridReady)="onGridReady($event)"
                    (selectionChanged)="onSelectionChanged($event)"
            >
            </ag-grid-angular>

        </c-col>

        <div class="container">
            <div class="pdf-container" *ngIf="showpdfbox">
                <pdf-viewer
                        [src]="pdfSrc"
                        [render-text]="true"
                        [original-size]="false"
                        [fit-to-page]="true"
                        [zoom]="zoom"
                        [show-borders]="true"
                        style="display: block"
                ></pdf-viewer>
            </div>
            <br/>
        </div>
    </div>
</c-card>
