<!--    <div class="row">-->
<!--            <div class="card">-->
<!--                <nav class="navbar navbar-expand-lg" style="margin-top: 10px">-->
<!--                    <ul>-->
<!--                        <h4 style="color: rgba(51, 153, 255, 100)">-->
<!--                            RAMNIRANJAN JHUNJHUNWALA COLLEGE OF ARTS , COMMERCE AND SCIENCE-->
<!--                            (AUTONOMOUS)<br/>-->
<!--                            <h6 style="color: black">-->
<!--                                Opposite Ghatkopar Railway Station West Mumbai-400086,-->
<!--                                Maharashtra, India-->
<!--                            </h6>-->
<!--                        </h4>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--    </div>-->


<!--<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">-->
<!--    <c-container breakpoint="md">-->
<!--        <c-row class="justify-content-center">-->
<!--            <c-col lg="15" xl="12">-->
<!--                <c-card-group>-->
<!--                        <c-card-body>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--<main class="main d-flex align-items-center bg-light dark:bg-transparent min-vh-100" >-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-9 mx-auto">-->
<!--                <div class="card-group">-->
<!--                    <div class="card p-4" style="line-height: 1px">-->
<!--<div class="bg-light min-vh-100 d-flex flex-row align-items-center">-->
<!--    <c-container>-->
<!--        <c-row class="justify-content-center">-->
<!--            <c-col md="8">-->
<!--                <c-card-group>-->
<!--                    <c-card class="p-4">-->
<!--                        <c-card-body>-->
<!--                        <div class="card-body">-->
<!--<div class="card" style="margin-bottom: 800px; width: 100%;">-->
<!--  <nav class="navbar navbar-expand-lg" style="margin-top: 10px">-->
<!--    <ul>-->
<!--      <h4>None</h4>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</div>-->
<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-column align-items-center ">
  <c-card style="width: 100%">

        <h5 style="color: rgba(51, 153, 255, 100);margin-left: 40px;margin-top:8px">
          RAMNIRANJAN JHUNJHUNWALA COLLEGE OF ARTS , COMMERCE AND SCIENCE
          (AUTONOMOUS)<br/>
          <h6 style="color: black">
            Opposite Ghatkopar Railway Station West Mumbai-400086,
            Maharashtra, India
          </h6>
        </h5>
  </c-card>
  <br><br><br><br><br><br>
<!--  <div class="bg-light min-vh-100 d-flex flex-column align-items-center" >-->
<!--    <div class="d-flex justify-content-center">-->
<!--    <c-card>jjjjjjj-->
<!--    </c-card>-->
<!--    </div>-->
  <c-container breakpoint="md">
    <c-row class="justify-content-center">

      <c-col lg="10" xl="9">
        <c-card-group>
          <c-card class="p-6">
            <c-card-body>
              <form cForm [formGroup]="loginForm" class="justify-content-center">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    type="number"
                    formControlName="aadhaar"
                    autoComplete="aadhaar"
                    cFormControl
                    placeholder="Aadhaar"
                    required
                    [autofocus]="true"
                    [valid]=""
                  />

                </c-input-group>

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    formControlName="user_pwd"
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>

                <c-row>
                  <img [src]="server_captcha_image" height="60"
                       style="margin-left :140px; width: 180px;" alt="image">
                </c-row>

                <c-input-group class="mb-3">
                  <span cInputGroupText style="height: 40px;">
                    <svg cIcon name="cilInput"></svg>
                  </span>
                  <input
                    cFormControl
                    formControlName="Valuesdata"
                    placeholder="Captcha"
                    style="height: 40px"
                  />
                </c-input-group>

<!--                <c-input-group class="mb-3">-->
<!--                  <span cInputGroupText>-->
<!--                    <svg cIcon name="cilInput"></svg>-->
<!--                  </span>-->
<!--                  <input-->
<!--                    cFormControl-->
<!--                    formControlName="captcha"-->
<!--                    placeholder="Captcha"-->
<!--                  />-->
<!--                  <span cInputGroupText>{{server_captcha}}</span>-->
<!--                </c-input-group>-->


                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="loginme()">
                      Login
                    </button>
                  </c-col>

                  <c-col xs="6">
                    <a
                      style="padding-left: 10px"
                      [routerLink]="'/forgotpassword'"
                    >Forgot password?</a
                    >
                  </c-col>
                </c-row>

              </form>
            </c-card-body>
          </c-card>


          <c-card>
            <div>
              <div class="text-white bg-danger p-4" style="height: 400px">
                <div class="card-body text-center" style="margin-top: 75px">
                  <h2>Sign up</h2>
                  <h5>Students from other colleges seeking admission!</h5>
                  <!--                                        <div class="row">-->
                  <!--                                            <h1 style="padding-left: 100px"></h1>-->
                  <!--                                            <button-->
                  <!--                                                    cButton-->
                  <!--                                                    type="submit"-->
                  <!--                                                    (click)="DisplayOUTSIDEmessage()"-->
                  <!--                                                    class="btn btn-success"-->
                  <!--                                            >-->
                  <!--                                                Click here!-->
                  <!--                                            </button>-->
                  <!--                                        </div>-->
                  <button cButton color="success" style="width: 55%;"
                          (click)="DisplayOUTSIDEmessage()">
                    Click here!
                  </button>
                </div>
              </div>
            </div>
            <router-outlet></router-outlet>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>

