<div class="animated fadeIn">
  <c-row>
    <div class="col">
      <c-card>
        <nav class="navbar navbar-expand-lg" style="margin-top:10px;">
          <ul>
            <a class="navbar-brand" href="#"><img src="" alt=""> </a>
          </ul>
          <ul>
            <h4 style="color: rgba(51, 153, 255, 100)">
              RAMNIRANJAN JHUNJHUNWALA COLLEGE OF ARTS , COMMERCE AND SCIENCE
              (AUTONOMOUS)<br>
              <h6 style="color: black;">Opposite Ghatkopar Railway Station West Mumbai-400086,
                Maharashtra, India</h6>
            </h4>
          </ul>
        </nav>
      </c-card>
    </div>
  </c-row>
</div>


<div class="app-body bg-light min-vh-100">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                  <br>
                  <br>
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form [formGroup]="otpVerifyForm" (ngSubmit)="ValidateOTP()">
                                <h1 style="padding-left: 15px;">OTP Verification</h1>
                                <!-- <p class="text-muted">Dear XXXXXX</p> -->
                                <div class="form-group col-sm-12">
                                    <label class="required" for="mobileno">Mobile Number</label>
                                    <input id="mobileno" type="number" formControlName="mobileno" readonly
                                           [ngClass]="{ 'is-invalid': (submitted || f['mobileno'].touched) && f['mobileno'].errors,
                                    'is-valid': f['mobileno'].touched && !f['mobileno'].errors }" class="form-control"
                                  placeholder="Mobile Number">
                                  <div *ngIf="submitted && f['mobileno'].errors" class="invalid-feedback">
                                      <div *ngIf="f.mobileno.errors.required">Mobile Number is required</div>
                                  </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="required" for="otp">One Time Password</label>
                                    <input id="otp" type="text" formControlName="otp"
                                           [ngClass]="{ 'is-invalid': (submitted || f['otp'].touched) && f['otp'].errors,
                                    'is-valid': f['otp'].touched && !f['otp'].errors }" class="form-control"
                                  placeholder="One Time Password">
                                  <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
                                      <div *ngIf="f.otp.errors.required">OTP is required</div>
                                  </div>
                                </div>

                              <br>
                              <c-row class="d-grid gap-2 d-md-flex justify-content-md-center">

                                <c-col [sm]="2">

                                  <button type="submit" class="btn btn-block btn-success"> Verify </button>

                                </c-col>

                                <c-col [sm]="3">

                                  <button type="submit" class="btn btn-block btn-danger" (click)="GetOTP()">Resend OTP</button>

                                </c-col>
                              </c-row>

<!--                                <div class="form-group col-sm-12">-->
<!--                                    &lt;!&ndash; <button type="button" class="btn btn-block btn-success">Create Account</button> &ndash;&gt;-->
<!--                                    <button type="submit" class="btn btn-block btn-success"> Verify </button>-->
<!--                                    <button type="submit" class="btn btn-block btn-danger" (click)="GetOTP()">Resend OTP</button>-->
<!--                                </div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- <app-register hidden [OTPGetValue]="OTPSendValue"></app-register> -->
