<!-- <c-col [sm]="12" class="form-group">
    <button type="button" class="btn btn-block btn-success">Create Account</button>
    <button type="submit" class="btn btn-block btn-success" (click)="openModal()"> Cancel Admission </button>

</div> -->


<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <c-row>
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h3>Admission Cancellation</h3><br>
              <strong> Are you sure you would like to cancel Admission? </strong><br><br>
              <button type="submit" class="btn btn-block btn-danger" (click)="openModal()"> Cancel Admission </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->

<div>
  <h2>Cancel Admission</h2>
  <hr>
</div>

<div class="card">

  <div class="card-body">
    <c-col [md]="12">

      <c-row>
        <c-col [md]="12">
          <form [formGroup]="cancelAdmissionForm" class="form-horizontal">

            <!-- <c-row>
              <c-col [md]="6" class="form-group">
                <label for="studentname" class="required">Student Name</label>
                <input type="text" [ngClass]="{ 'is-invalid': (submitted || f.studentname.touched) && f.studentname.errors,
            'is-valid': f.studentname.touched && !f.studentname.errors }" class="form-control"
                  formControlName="studentname" placeholder="Student Name">
                <div *ngIf="submitted && f.studentname.errors" class="invalid-feedback">
                  <div *ngIf="f.studentname.errors.required">Student Name is Required</div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label class="required" for="aadhaar">Aadhaar</label>
                <input type="text" [ngClass]="{ 'is-invalid': (submitted || f.aadhaar.touched) && f.aadhaar.errors,
            'is-valid': f.aadhaar.touched && !f.aadhaar.errors }" class="form-control" formControlName="aadhaar"
                  placeholder="Aadhaar">
                <div *ngIf="submitted && f.aadhaar.errors" class="invalid-feedback">
                  <div *ngIf="f.aadhaar.errors.required">Aadhaar is required</div>
                </div>

              </div>
              <div class="form-group col-md-3">
                <label for="mobile" class="required">Mobile Number</label>
                <input type="text" [ngClass]="{ 'is-invalid': (submitted || f.mobile.touched) && f.mobile.errors,
            'is-valid': f.mobile.touched && !f.mobile.errors }" class="form-control" formControlName="mobile"
                  placeholder="Mobile Number">
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Mobile Number is Required</div>
                </div>
              </div>
            </div> -->

            <c-row>
              <!-- <div class="form-group col-md-3">
                <label for="emailid" class="required">Email ID</label>
                <input type="text" [ngClass]="{ 'is-invalid': (submitted || f.emailid.touched) && f.emailid.errors,
                'is-valid': f.emailid.touched && !f.emailid.errors }" class="form-control" formControlName="emailid"
                  placeholder="Email ID">
                  <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                    <div *ngIf="f.emailid.errors.required">Email Id is Required</div>
                  </div>
              </div> -->
              <c-col [md]="6" class="form-group">
                <label for="studentbatch" class="required">Student Batch</label>
                <select id="studentbatch" class="form-control" [ngClass]="{ 'is-invalid': (submitted || f['studentbatch'].touched) && f['studentbatch'].errors,
                'is-valid': f['studentbatch'].touched && !f['studentbatch'].errors }" formControlName="studentbatch"
                  class="form-control capitalize" placeholder="Student Batch" [(ngModel)]="SelectedBatch"
                  (change)="onBatchSelected($event)">
                  <option value="" disabled>--- Please Select Batch---</option>
                  <option *ngFor="let data of BatchName" [ngValue]="data">{{data.Batch_name}}</option>
                </select>

                <!-- <select [ngClass]="{ 'is-invalid': (submitted || f.studentbatch.touched) && f.studentbatch.errors,
          'is-valid': f.studentbatch.touched && !f.studentbatch.errors }" formControlName="studentbatch"
                  class="form-control capitalize" placeholder="Student Batch" [(ngModel)]="selectedBatchName">
                  <option selected [value]="selectedBatchName">{{selectedBatchName}}</option>
                  </select> -->
                <div *ngIf="submitted && f['studentbatch'].errors" class="invalid-feedback">
                  <div *ngIf="f.studentbatch.errors.required">Student Batch is required</div>
                </div>
              </c-col>
              <c-col [md]="6" class="form-group">
                <label for="reason" class="required">Reason For Admission Cancellation</label>
                <input id="reason" type="text" [ngClass]="{ 'is-invalid': (submitted || f['reason'].touched) && f['reason'].errors,
          'is-valid': f['reason'].touched && !f['reason'].errors }" formControlName="reason" class="form-control capitalize"
                  placeholder="Reason for Cancellation">
                <div *ngIf="submitted && f['reason'].errors" class="invalid-feedback">
                  <div *ngIf="f.reason.errors.required">Reason of Cancellation is required</div>
                </div>
              </c-col>
            </c-row>

            <br>
            <div>
              <h5>Student or Parent Bank Details</h5>
              <hr>
            </div>
            <c-row>
              <c-col [md]="4" class="form-group">
                <label for="bankname" class="required">Bank Name</label>
                <input id="bankname" type="text" [ngClass]="{ 'is-invalid': (submitted || f['bankname'].touched) && f['bankname'].errors,
          'is-valid': f['bankname'].touched && !f['bankname'].errors }" formControlName="bankname"
                  class="form-control capitalize" placeholder="Enter Your Bank Name">
                <div *ngIf="submitted && f['bankname'].errors" class="invalid-feedback">
                  <div *ngIf="f.bankname.errors.required">Bank Name is required</div>
                </div>
              </c-col>
              <c-col [md]="4" class="form-group">
                <label for="accountholdername" class="required">Account Holder Name</label>
                <input id="accountholdername" type="text" [ngClass]="{ 'is-invalid': (submitted || f['accountholdername'].touched) && f['accountholdername'].errors,
          'is-valid': f['accountholdername'].touched && !f['accountholdername'].errors }" formControlName="accountholdername"
                  class="form-control capitalize" placeholder="Account Holder Name">
                <div *ngIf="submitted && f['accountholdername'].errors" class="invalid-feedback">
                  <div *ngIf="f.accountholdername.errors.required">Account Holder Name is required</div>
                </div>
              </c-col>
              <c-col [md]="4" class="form-group">
                <label for="accountnumber" class="required">Account Number</label>
                <input id="accountnumber" type="text" [ngClass]="{ 'is-invalid': (submitted || f['accountnumber'].touched) && f['accountnumber'].errors,
          'is-valid': f['accountnumber'].touched && !f['accountnumber'].errors }" formControlName="accountnumber"
                  class="form-control capitalize" placeholder="Account Number">
                <div *ngIf="submitted && f['accountnumber'].errors" class="invalid-feedback">
                  <div *ngIf="f.accountnumber.errors.required">Account Number is required</div>
                </div>
              </c-col>
            </c-row>

            <c-row>
              <c-col [md]="4" class="form-group">
                <label for="bankbranch" class="required">Bank Branch Name</label>
                <input id="bankbranch" type="text" [ngClass]="{ 'is-invalid': (submitted || f['bankbranch'].touched) && f['bankbranch'].errors,
          'is-valid': f['bankbranch'].touched && !f['bankbranch'].errors }" formControlName="bankbranch"
                  class="form-control capitalize" placeholder="Band Branch Name">
                <div *ngIf="submitted && f['bankbranch'].errors" class="invalid-feedback">
                  <div *ngIf="f.bankbranch.errors.required">Branch Name is required</div>
                </div>
              </c-col>
              <c-col [md]="4" class="form-group">
                <label for="ifsc" class="required">IFSC Code</label>
                <input id="ifsc" type="text" [ngClass]="{ 'is-invalid': (submitted || f['ifsc'].touched) && f['ifsc'].errors,
          'is-valid': f['ifsc'].touched && !f['ifsc'].errors }" formControlName="ifsc" class="form-control capitalize"
                  placeholder="IFSC Code">
                <div *ngIf="submitted && f['ifsc'].errors" class="invalid-feedback">
                  <div *ngIf="f.ifsc.errors.required">IFSC Code is required</div>
                </div>
              </c-col>
              <c-col [md]="4" class="form-group">
                <label for="enrollment" class="required"> University Pre.enrollment Application Form No.</label>
                <input id="enrollment" type="text" [ngClass]="{ 'is-invalid': (submitted || f['enrollment'].touched) && f['enrollment'].errors,
          'is-valid': f['enrollment'].touched && !f['enrollment'].errors }" formControlName="enrollment"
                  class="form-control capitalize" placeholder="Enrollment No">
                <div *ngIf="submitted && f['enrollment'].errors" class="invalid-feedback">
                  <div *ngIf="f.enrollment.errors.required">Enrollment no is required</div>
                </div>
              </c-col>
              <!-- <div class="form-group col-md-3">
                <label for="dateofrefund" class="required">Date of Refund</label>
                <input type="date" [ngClass]="{ 'is-invalid': (submitted || f.dateofrefund.touched) && f.dateofrefund.errors,
          'is-valid': f.dateofrefund.touched && !f.dateofrefund.errors }" formControlName="dateofrefund"
                  class="form-control capitalize" placeholder="Date of Refund">
                <div *ngIf="submitted && f.dateofrefund.errors" class="invalid-feedback">
                  <div *ngIf="f.dateofrefund.errors.required">Date of Refund is required</div>
                </div>
              </div> -->


            </c-row>
            <c-row>
              <c-col [md]="6" class="form-group">
                <label class="required">ChequeBook/Passbook Image(Showing Account Details)</label>
                <input type="file" (change)="ChequeBook_Filechange($event)">
              </c-col>

            </c-row>

            <div class="card-body">
              <div>
                <table style="font-size:17px;font-family: 'Calibri'">
                  <tr>
                    <td>
                      <table class="font-weight-bold;font-family: 'Calibri'">
                        <tr>
                          <td class="borderLeftRightTop"
                            style="text-align: left;color:white; border-bottom: 1px solid;background-color: rgba(165, 42, 42, 0.877);">
                            DEGREE COLLEGE</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <table class="font-weight-bold;font-family: 'Calibri'">
                        <tr>
                          <td style="text-align: left;font-size: 14px;">
                            The Rules (Ordinance 2859) relating to refund of fees after cancellation of admission as
                            per the <b style="font-size: 17px;">University of Mumbai Circular No. UG/412 of 2008
                              dated 11.09.2008 </b>is given below:
                            The candidates who have taken admission in under graduate courses in aided and unaided
                            courses conducted by affiliated Colleges may request for refund of fees after applying
                            in writing for cancellation of their admission to the course. The refund of fees as
                            applicable shall be made on or before 30th day after the date of cancellation and
                            thereafter.
                            <br /> <br />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <table class="font-weight-bold;font-family: 'Calibri'">
                        <tr>
                          <td style="text-align: left;font-size: 17px;">
                            Table for fee deduction on cancellation of Admission</td>
                        </tr>
                      </table>
                    </td>
                  </tr>


                  <tr>
                    <td>
                      <table style="font-size: 14px;" class="font-weight-bold;font-family: 'Calibri'">
                        <tr>
                          <td nowrap class="borderLeftTop"
                            style="height:35px;width: 10%;font-size: 17px;background-color: rgba(165, 42, 42, 0.877);color:white;">
                            SR NO. </td>
                          <td nowrap class="borderLeftTop"
                            style="font-size: 17px;background-color: rgba(165, 42, 42, 0.877);color:white;"> Period
                          </td>
                          <td class="borderLeftRightTop"
                            style="font-size: 17px;background-color: rgba(165, 42, 42, 0.877);color:white;"> Deduction
                            Charges</td>
                        </tr>
                        <tr>
                          <td nowrap class="borderLeftTop" style="height:35px;">1.</td>
                          <td class="borderLeftTop"> Prior to commencement of academic term and instruction of the
                            course</td>
                          <td class="borderLeftRightTop">Rs.500/- lump sum</td>
                        </tr>
                        <tr>
                          <td nowrap class="borderLeftTop" style="height:35px;">2.</td>
                          <td class="borderLeftTop"> Upto 20 days after the commencement of academic term of the
                            course</td>
                          <td class="borderLeftRightTop">20% of the total amount of fees </td>
                        </tr>
                        <tr>
                          <td nowrap class="borderLeftTop" style="height:35px;">3.</td>
                          <td class="borderLeftTop"> From 21st day upto 50 days after commencement of the academic
                            term of the course</td>
                          <td class="borderLeftRightTop">30% of the total amount of fees </td>
                        </tr>
                        <tr>
                          <td nowrap class="borderLeftTop" style="height:35px;">4.</td>
                          <td class="borderLeftTop">From 51st day upto 80 days after commencement of the academic term
                            of the course.</td>
                          <td class="borderLeftRightTop"> 50% of the total amount of fees </td>
                        </tr>
                        <tr>
                          <td nowrap class="borderLeftTop" style="border-bottom: 1px solid;height:35px;">5.</td>
                          <td class="borderLeftTop" style="border-bottom: 1px solid;">From 81st day to 110 days</td>
                          <td class="borderLeftRightTop" style="border-bottom: 1px solid;">60% of the total amount of
                            fees </td>
                        </tr>
                        <tr>
                          <td nowrap style="border-bottom: 1px solid;border-left: 1px solid;height:35px;">6.</td>
                          <td style="border-bottom: 1px solid;border-left: 1px solid;"> After 111 day</td>
                          <td style="border-bottom: 1px solid;border-left: 1px solid;border-right: 1px solid;">100% of
                            the total amount of
                            fees </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td style="margin-right:5px;width:33.3333%;">
                      <table style="font-weight:bold;font-size:15px;font-family: 'Calibri'">
                        <tr>
                          <td>
                            <table class="font-weight-bold;font-family: 'Calibri'">
                              <tr>
                                <td style="width: 2%;"></td>
                                <td style="text-align: left;">
                                  • Refund of fees at the time of cancellation will be made only in cheque/online bank
                                  transfer after 20 working days.</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table class="font-weight-bold;font-family: 'Calibri'">
                              <tr>
                                <td style="width: 2%;"></td>
                                <td style="text-align: left;">• Cheque/online bank transfer will be in the name of
                                  Student/Parent.</td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                      </table>
                    </td>
                  </tr>
                </table>

              </div>

            </div>



            <hr />



            <div style="padding-left: 45%;">
              <button type="submit" size="md" class="btn btn-success" (click)="onCancelAdmission()">Cancel Admission
              </button>&nbsp;&nbsp;&nbsp;
              <button type="reset" size="md" class="btn btn-danger">Reset
              </button>
            </div><br>
          </form>
        </c-col>
      </c-row>

    </c-col>
  </div>
</div>


<!-- <button type="submit" size="md" [attr.disabled]="changeStateCancelAdmission ? '' : null" class="btn btn-success">Save
</button>&nbsp;&nbsp;&nbsp;
<button type="reset" size="md" [attr.disabled]="changeStateCancelAdmission ? '' : null" class="btn btn-danger">Cancel
</button> -->

<ng-template #content let-modal>
  <!-- <form [formGroup]="ChangePasswordForm" (ngSubmit)="onCancelAdmission()"> -->
  <div class="modal-header" style="background-color:lightblue">
    <h4 class="modal-title" id="modal-basic-title">Cancel Admission</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <c-col [sm]="12" class="form-group">
      <h5>Are you sure you want to Cancel your Admission?? <br> Cancellation Charges will be applied!</h5>
    </c-col>
    <c-row>
      <c-col [sm]="6" class="form-group">
        <button type="submit" style="height:50px" class="btn btn-block btn-success"> Yes </button>
      </c-col>
      <c-col [sm]="6" class="form-group">
        <button type="reset" style="height:50px" class="btn btn-block btn-danger">No</button>
      </c-col>
    </c-row>

  </div>
  <!-- <div class="modal-footer">
      <button type="submit" [disabled]="ChangePasswordForm.invalid" (click)="modal.close('Save click')" size="md" class="btn btn-outline-dark">Change Password</button>
    </div> -->
  <!-- </form> -->
</ng-template>
